/*icon and navBar*/




/* Header */

.hollow, #headerText h1{
    font-size: 10vmin;
}

#headerEndText{
    margin-top: calc(33rem - 30vmin);
}

#headerEndText h3{
    font-size: 4vmin;
}

#headerEndText p{
    font-size: 3vmin;
}


/* About Section */
#aboutSection{
    display: block;
    margin-top: 10vh;
}
#aboutSection img{
    height: auto;
    width: 50vmin;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    display: block;
}
#introduction{
    margin: 0;
    width:99vw;
}


/* contact section*/
#contactSection{
    width: 99vw;
    margin-top: 10vh;
}
#contactways {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
#contactways h4{
    font-size: smaller;
}
#contactways a{
    font-size: medium;
}
